<h1>Who is the best student?</h1>

<form action="/who-is-the-best-student" method="post">

  {{!-- The content will be accessible in req.body.username --}}
  Username: <input type="text" name="username"> <br>

  {{!-- The content will be accessible in req.body.password --}}
  Password: <input type="password" name="password"> <br>
  
  <button type="submit">See the result</button>
</form>